@font-face {
  font-family: 'MyFont';
  src: url('/fonts/aeoniktrial-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/aeoniktrial-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/aeoniktrial-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/aeoniktrial-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body {
  color: white;
  font-family: 'MyFont';
  background-color: #120e1b;
}
